/*
Place your CSS customizations here.
This stylesheet is defined last and will override all previously loaded sheets. You may reference variables defined in variables.css 
 */

 #pcc_logo{
    border-radius: 2rem;
    display: block;
    height: 6rem;
    width: auto;
    margin: 1rem auto 1rem auto;
 }

 @media screen and (min-width: 1024px) {
    div.brand-name h1, div.brand-name h2{
        width: max-content;
    }
}
 