/* Variables
   ========================================================================== */
:root {
  --header-bg-image: unset;
  --header-bg-color: #ffffff; /** Transparent color if adding header bg-image **/
  --header-font-color: #000000;
  --brand-font-size: 1.5rem;
  --title-font-family: "Averia Serif Libre", serif;
  --logo-width: 180px;
  --menu-top-bg-color: #1b3d2f;
  --menu-font-size: 1.1rem;
  --body-bg-color: #fafafa;
  --body-text-color: #000000;
  --body-font-size: 1rem;
  --body-font-family: "Arial", sans-serif;
  --footer-bg-color: #f2f0e9;
  --heading-font-family: "Roboto", sans-serif;
  --link-color: #126c00;
  --darkest-color: #1b3d2f;
  --medium-color: #5a5a53;
  --light-color: #f2f0e9;
  --bright-color: #b9d432;
  --danger-color: #b31b1b;
  --max-innertext-width: 1024px;
}
